.container {
    align-items: center;
    margin: 50px 0;
}

.card {
    margin: 0 10px !important;
}

.foot {
    border-bottom: 10px solid rgba(131, 56, 234, 0.5);
}

.teamBadge {
    display: flex;
    width: 10%;
    height: 10%;
    padding: 2px;
}

.te {
    display: flex;
}

@media(max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}